<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">connect</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <button (click)="this.signInBool = true">Sign In</button>
    <button (click)="this.signInBool = false">Sign Up</button>
  </div>

  <form *ngIf="this.signInBool" [formGroup]="signInForm">

    <input type="text" formControlName="email">
    <input type="text" formControlName="password">
  
    <button type="submit" (click)="onSignIn()">Valider connexion</button>
  </form>

  <form *ngIf="!this.signInBool" [formGroup]="signUpForm">

    <input type="text" formControlName="email">
    <input type="text" formControlName="password">

    <button type="submit" (click)="onSignUp()">Valider Inscription</button>
  </form>

</ion-content>
